<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 


{{!-- 
<div class="d">
    <input type="text" name="textBox" id="">Please enter your username
</div> --}}



<form action="/waiters/{{user}}" method="post">
<div class="b">
<h1>Hello, {{user}}</h1>
<h3> Please select days below:</h3>
{{#each day}}
<input type="checkbox" name= "weekday"  {{checked}} value="{{id}}" id="{{id}}"> {{dayofweek}}
{{/each}}

 </div>
<div class="c"> 
<input type="submit" value="Book Me!"> 
</div>


</form>

<form action="/days" method="get">



</form>

</body>
</html>